* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #e6e6e8;
}

.form-group {
	display: block;
	position: relative;
	width: 220px;
	height: 30px;
}

.form-group input {
	width: 100%;
	height: 100%;
	padding: 5px;
}

.form-control-calendar {
	position: absolute;
	top: 9.5px;
  right: 9.5px;
  border-style: solid;
  border-width: 3.3px 1.5px 1.5px 1.5px;
  border-color: #d5d5d6;
	display: block;
	width: 13px;
  height: 11px;
}

.left-arrow {
	display: block;
	background: url('../images/left-arrow.png'); 
	background-size:16px 15px;
	width: 16px;
  height: 15px;
}

.right-arrow {
	display: block;
	background: url('../images/right-arrow.png'); 
	background-size:16px 15px;
	width: 16px;
  height: 15px;
  float: right;
}

.datepicker {
	position: absolute;
	background: #323439;
}

.datepicker .core {
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	font-size: 11px;
	text-align: center;
	cursor: pointer;
	color: #fff;
}

.datepicker .header-container {
	width: 100%;
	height: 34px;
}

.datepicker .cells-container {
	width: 100%;
	padding: 10px 29.5px 5px 29.5px;
}

.datepicker .header {
	font-size: 14px;
	line-height: 14px;
	padding: 10px;
	background: #5a5b5f;
}

.datepicker .header:hover {
	background: #3C3D41;
}

.datepicker .footer-container {
	margin-bottom: 15px;
}
.datepicker .today-button {
	display: block;
  margin: 0 auto;
	font-size: 10px;
	background: #282a2d;
  color: #ffffff;
  border-radius: 24px;
  border: 0 none;
  padding: 6px 32px;
  cursor: pointer;
}

.datepicker .today-button:hover {
	background: #51535B;
}

.datepicker .today-button:focus {
	outline: 0 none;
}

.datepicker .outday {
	color: #666;
}

.datepicker .day:hover {
	border-radius: 50%;
	color: #fff;
	background: #51535B;
}

.datepicker .month:hover {
	border-radius: 10px;
	color: #fff;
	background: #51535B;
}

.datepicker .year:hover {
	border-radius: 10px;
	color: #fff;
	background: #51535B;
}

.datepicker .selected {
	border-radius: 10px;
	color: #fff;
	background: #e8736f;
}

.datepicker .selected-month {
	border-radius: 11px;
	color: #fff;
	background: #e8736f;
}

.datepicker .selected-year {
	border-radius: 10px;
	color: #fff;
	background: #e8736f;
}